corpus/
test/
z_env/*
z_env
email_parser/__pycache__/*

email_parser/encoder.py
email_parser/text_preprocessing.py
email_parser/parser_conf.json
email_parser/test.py

ngrams_dict/
ngrams_dict_limited/
ngrams_vec/
ngrams_vec_limited/
embeddings/

metrics/
plots/

.Rhistory
